{% extends "base.html" %}
    {% block content %}
        <h1>Hello {{user.username}}</h1>
        <p>You joined on {{user.date_joined}} </p>

        {% if bookmarks|length > 0%}
        <hr><h3>Bookmarks: </h3>
        <ul>
            {% for bookmark in bookmarks %}
            <li><a href="/page/{{bookmark.page.id}}/{{bookmark.page.title}}">{{bookmark.page.title}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p> Add bookmarks to see them here! </p>
        {% endif %}

        {% if comments|length > 0%}
        <hr><h3>Comments: </h3>
        <ul>
            {% for comment in comments %}
            <li> <a href="/page/{{comment.pages.id}}/{{comment.pages.title}}#{{comment.id}}">{{comment.text|truncatechars:25}}</a> at {{comment.date_created}} </li>
            {%endfor%}
        </ul>
        {% else %}
        <p> Create comments to see them here!</p>
        {%endif%}
        {%if flashcards|length > 0%}
        <hr>
        <h3>Your flashcards: </h3>
        <ul>
            {% for card in flashcards %}
            <li><a href="/flashcard/{{card.id}}/{{card.title}}">{{card.title}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p> <a href="/flashcards/add">Create a flashcard</a> to see them here!</p>
        {%endif%}
{% endblock %}