{% extends "base.html"%}
{% block content %}

<h1> {{user.username}} </h1>

<p> {{user.username}} joined on {{user.date_joined}} </p>

{% if comments|length > 0%}
<hr><h3> Comments: </h3>
<ul>
{% for comment in comments%}
<li> <a href="/page/{{comment.pages.id}}/from_dashboard">{{comment.text|truncatechars:15}}</a> at {{comment.date_created}} </li>
{%endfor%}
</ul>
{%endif%}

{% if flashcards|length > 0%}
<hr><h3> Flashcards </h3>
<ul>
    {% for card in flashcards %}
    <li><a href="/flashcard/{{card.id}}/{{card.title}}">{{card.title}}</a></li>
    {% endfor %}
</ul>
{% endif %}
<hr>
<p>Back to <a href="/user">Glossary</a> </p>
{% endblock %}