<html>
    <style>
        #id_data {
            width: 100vw;
        }
    </style>
    <body>
        <h1>Add a page!</h1>

        <form action="/tags/add" method="POST">
            {% csrf_token %}
            <ul>{{form_tag.as_ul}}</ul>
            <input type="submit" value="submit">
        </form>
        
        <form action="" method="POST">
            {% csrf_token %}
            <ul>
                {{form.as_ul}}
            </ul>
            <input type="submit" value="Submit">
        </form>
    </body>