{% extends "base.html" %}
{% block title%} {{flashcard.title}} {%endblock%}
{% block content %}
<style>
    .flashcard {
        width: 90vw;
        height: 40vh;
        border: 1px solid #ccc;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        margin: 10px;
    }

    .back {
        display: none;
    }
    
    .flip .front {
        display: none;
    }
    
    .flip .back {
        display: block;
    }
    </style>

    <script>
    function flipCard(cardId) {
        var card = document.getElementById(cardId);
        card.classList.toggle('flip');
    }
</script>

<h1> {{flashcard.title}} | <a href="/user/{{user.id}}">{{user.username}}</a></h1>

<p> There are {{keywords|length}} cards in this set</p>

{% if tags|length > 0%}
<h3>Tags:</h3>
<ul>
{% for tag in tags %}
<li><a href="/tag/{{tag.id}}/{{tag.name}}">{{tag.name}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% for card in keywords %}
<div class="flashcard" id="{{card.id}}" onclick="flipCard('{{card.id}}')">
    <div class="front">{{card.front | linebreaks}} </div>
    <div class="back"> {{card.back | linebreaks}}</div>
</div>
{%endfor%}

{% endblock %}